.resultCard{

width:420px;
margin:auto;
margin-top:60px;
padding:40px;

background:rgba(255,255,255,0.85);

backdrop-filter:blur(10px);

border-radius:16px;

border:2px solid #00f7ff;

box-shadow:
0 0 20px rgba(0,247,255,0.6),
0 8px 30px rgba(0,0,0,0.25);

}

.resultStats{
display:flex;
justify-content:space-between;
margin-top:20px;
margin-bottom:30px;
font-size:20px;
}

#score{
font-size:64px;
font-weight:bold;
margin:20px 0;
}

#comment{
font-size:24px;
margin-bottom:20px;
}

.table-container{
height:600px;
overflow-y:auto;
width:85%;
margin:auto;

background:rgba(255,255,255,0.9);

border-radius:14px;

box-shadow:0 10px 30px rgba(0,0,0,0.35);
}

table{
width:100%;
border-collapse:collapse;
}

thead th{
position:sticky;
top:0;
background:#2c3e50;
color:white;
padding:16px;
font-size:20px;
}

td{
padding:14px;
border-bottom:1px solid #eee;
font-size:19px;
}

tr:nth-child(even){
background:#fafafa;
}

.quizOptions{
display:flex;
justify-content:center;
align-items:center;
gap:120px;
margin-top:40px;
margin-bottom:30px;
flex-wrap:wrap;
}

.quizBlock{
display:flex;
flex-direction:column;
align-items:center;
}